DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=
DJANGO_CSRF_TRUSTED_ORIGINS=https://www.enriquetaso.com,https://enriquetaso.com
POSTGRES_PASSWORD=
POSTGRES_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_TEST_NAME=postgres_test
DATABASE_URL=postgres://postgres:${POSTGRES_PASSWORD}@localhost:5432/postgres
SENTRY_DSN=