{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>🦄 Sofi Blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta charset="utf-8">
        
         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>        
        <nav class="navbar navbar-default navbar-fixed-top navbar-expand-md">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Sofi&#39;s Blog 🦄</a>
                </div>

                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item"><a href="/">Home</a></li>
                        <li class="nav-item"><a href="#">About Me</a></li>
                        <li class="nav-item"><a href="#">Resume</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a href="#">{% include './icons/file-earmark-plus.svg' %}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
          </nav> 
        <div class="container" style="margin-top:70px">
                <div class="col-lg-10">{% block content %}{% endblock %}</div>
                <div class="col-lg-2">
                    <img src="{% static 'img/profile.jpg' %}" class="img-thumbnail" alt="Grumpy Cat">
                    <p><strong>@enriquetaso</strong></p>
                    <p>¡Hola! Welcome!</p>
                    <p>Montly posts about tech and funny things.</p>
                    <p class="blockquote-footer">From <i>Buenos Aires, Argentina</i></p>
                    <p><a href="https://twitter.com/enriquetaso" target="_blank" title="Enriquetaso Twitter Profile"><span class="icon fa fa-twitter"></span></a>
                        <a href="https://www.linkedin.com/in/enriquetaso/" target="_blank" title="Enriquetaso Linkedin Profile"><span class="icon fa fa-linkedin"></span></a></p>
                </div>
            </div>
        </div>
        <footer class="py-3 bg-grey">
            <p class="m-0 text-dark text-center ">&#9749;</p>
        </footer>
    </body>
</html>
                                                                                                                                                                                                            