{% load static %}
<div class="col-lg-2">
    <img src="{% static 'img/profile.jpg' %}" class="img-circle img-responsive" alt="Grumpy Cat">
    <p><strong>@enriquetaso</strong></p>
    <p>🇮🇪 Python developer living and working in Ireland.</p>
    <p class="blockquote-footer">🇦🇷 From <i>Buenos Aires</i>.</p>
    <p><a href="https://twitter.com/enriquetaso" target="_blank" title="Enriquetaso Twitter Profile"><span class="icon fa fa-twitter"></span></a>
        <a href="https://www.linkedin.com/in/enriquetaso/" target="_blank" title="Enriquetaso Linkedin Profile"><span class="icon fa fa-linkedin"></span></a></p>
</div>