{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
        <article class="post post-aux rounded d-grid gap-3 bg-light border">
            <div class="p-2" style="margin:10px;">
                {% if post.published_date %}
                    <time class="date">
                        {{ post.published_date }}
                    </time>
                {% endif %}
                <h2 class="title h4 pb-2 mb-4 border-bottom border-dark">
                    <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
                </h2>
                <p class="border-success" style="font-size:10px; margin-bottom: 15px;">
                    #tags
                </p>
                <p>{{ post.text|linebreaksbr|slice:":300" }}}</p>
                <p class="h6 text-uppercase"><a class="link-readmore" href="{% url 'post_detail' pk=post.pk %}">Read More</a></p>
            </div>
        </article>
    {% endfor %}
{% endblock %}