{% extends 'blog/base.html' %}
{% block content %}
    <h2 class="title">Tag: {{ tag_name }}</h2>
    {% for post in posts %}
        <div class="panel panel-default">
            <div class="panel-heading"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></div>
            <div class="panel-body">
                <p><small class="text-muted">{{ post.published_date|date }}</small></p>
                <p class="border-success">
                    {% for tag in post.tags.all %}
                    <a href="{% url 'tag' tag.id %}" class="badge text-decoration-none bg-light bg-gradient">
                    #{{tag}}
                    </a>
                    {% endfor %}
                    <p>{{ post.text|safe|striptags|truncatechars:500 }}</p>
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}