body{
    background-color: #f3eeee;
    font-family: "Sofia Sans", "Roboto", sans-serif;
    font-size: large;
    color: black;
}
a:link, a:visited {
    text-decoration: none;
}

.django-ckeditor-widget{
    display: inline !important;
}

.title-font{
    font-family: 'Monofett', "Roboto", sans-serif;
    font-size: larger;
}

.title-head{
    font-family: 'Modak';
}